/*
    Theme: myTheme1
  */
.simple-keyboard.myTheme1 {
  background-color: rgba(33, 37, 41);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #313539;
  color: #DADADA;
  border: white;
  border-width: 2px;
  border-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.myTheme1+.simple-keyboard-preview {
  background: #1c4995;
}